---
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BarraTerminal from "./BarraTerminal.astro";
import CardTerminal from "../layouts/CardTerminal.astro";
const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section class="cards">
	<ul class="cards__list">
		{
			posts.slice(0, 1).map((post) => (
				<li class="card__item">
					<CardTerminal>
						<a
							class="card__link"
							href={`/blog/${post.slug}/`}
							transition:animate="slide">
							<img
								class="card__img"
								src={post.data.heroImage}
								alt={post.data.title}
							/>
							<div class="card__content">
								<h4 class="card__title"> ≥ {post.data.title}</h4>
								<p class="card__date">
									{" "}
									≥
									<FormattedDate date={post.data.pubDate} />
								</p>
							</div>
						</a>
					</CardTerminal>
				</li>
			))
		}
	</ul>
</section>

<style>
	
	.cards__list {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0;
	}
	.card__title {
		font-size: 2.3rem;
		color: var(--green-terminal);
		margin: 0;
	}
	.card__date {
		text-align: center;
	}

	.card__link {
		justify-content: center;
		align-items: center;
	}
	.card__img {
		width: 44rem;
		height: auto;
		object-fit: cover;
	}
	.card__content {
		padding: 0 1rem;
		text-align: center;
	}
</style>
