---
import Header from "../layouts/Header.astro";

const {pathname} = Astro.props

import { links, about,portfolio,blog,other} from "../data/MenuData";
---
<Header>
 {
 pathname === "/" ?
  links.map((link)=>(
    <li class="menu__list">
    <a class="menu__link menu__hamburger-link" href={link.href}>{link.text}</a>
  </li>
    ))
  : pathname == "/about" ?
    about.map((dataAbout)=>(
    <li class="menu__list">
    <a class="menu__link menu__hamburger-link" href={dataAbout.href}>{dataAbout.text}</a>
  </li>
    ))
    :pathname == "/portfolio" ?
    portfolio.map((portfolioLink)=>(
    <li class="menu__list">
    <a class="menu__link menu__hamburger-link" target={portfolioLink.target} href={portfolioLink.href}>{portfolioLink.text}</a>
  </li>
    ))
    :pathname == "/blog" ?
    blog.map((blogLink)=>(
    <li class="menu__list">
    <a class="menu__link menu__hamburger-link" target={blogLink.target} href={blogLink.href}>{blogLink.text}</a>
  </li>
    ))
    :
    other.map((otherLink)=>(
    <li class="menu__list">
    <a class="menu__link menu__hamburger-link" href={otherLink.href}>{otherLink.text}</a>
  </li>
    ))
}


</Header>
