---
import { portafolioData } from "../data/portfolioData";
import { skillIcons } from "../data/skillsIcons";
import "../styles/portfolio.css";
---

{
	portafolioData.slice(0,3).map((data) => (
		<div class="portafolio__tarjeta">
			<div class="portafolio__cara faceA card__content caja__dark__portafolio ">
				<div class="img__container">
					<img class={`portafolio__img`} src={data.imgSrc} alt={data.titulo} />
				</div>
				<div class="container__info">
					<h3 class="portafolio__subtitulo titulo__dark">{data.titulo}</h3>
					<div class="skills__used">
						{data.skills.map((skill) => (
								<div class="tecnology">
									<iconify-icon icon={skillIcons[skill] || ""} width="22"/>
								</div>
							))}
					</div>
				</div>
			</div>
			<div class="portafolio__cara faceB  caja__dark__portafolio">
				<p class="portafolio__descripcion titulo__dark">{data.descripcion}</p>
				<div class="portafolio__botobnes">
					<a
						class="portafolio__btn boton titulo__dark"
						href={data.demoURL}
						target="_blank"
						rel="nofollow noreferrer noopener">
						<span data-section="portafolio" data-value="demo">
							View Demo
						</span>
					</a>
					<a
						class="portafolio__btn boton titulo__dark"
						href={data.repoURL}
						target="_blank"
						rel="nofollow noreferrer noopener">
						<span data-section="portafolio" data-value="repo">
							View Repo
						</span>
					</a>
				</div>
			</div>
		</div>
	))
}
