---
import "../styles/card-terminal.css"
---

<span class="terminal__content">{Astro.props.spanLink}</span>
<a class="terminal__link" id="link-oracle"
    href={Astro.props.href} target="_blank"
    rel="nofollow noopener noreferrer">{Astro.props.textRef}</a> <span>{Astro.props.spanAfeterLink}</span>
    <p class="terminal__content">{Astro.props.textWithSpan}
    <span class="terminal__content"> {Astro.props.textInSpan}</span>
</p>
