---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import ToggleDarkBtn from "../components/ToggleDarkBtn.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BtnToTop from "../components/BtnToTop.astro";
import "../styles/blog.css";
import NavSecundary from "../components/Navs/NavSecundary.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <NavSecundary />
    <ToggleDarkBtn />
    <BtnToTop />
    <main>
      <article></article>
      <div class="prose">
        <div class="title">
          <div class="date">
            <FormattedDate date={pubDate} />
            {
              updatedDate && (
                <div class="last-updated-on">
                  Last updated on <FormattedDate date={updatedDate} />
                </div>
              )
            }
          </div>
          <h1 class="article__title">≥ {title}</h1>
          <hr />
        </div>
        <slot />
      </div>
    </main>

    <Footer />
  </body>
</html>
